<h2><%= question_header(@question) %></h2>

<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :question, id: :body %> <br>
    <%= form.text_area :body, id: :question_body, cols: 40, rows: 4 %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<%= render 'back_button' %>
