<% if user_signed_in? %>
  <div class="nav nav-admin">
    <% if current_user.admin? %>
      <span class="nav-admin title">
        <%= link_to t('.apanel'), root_path %>
      </span>
    <% end %>
    <span class="nav-admin title">
      <%= link_to 'TestGuru', root_path%>
    </span>
    <div class="nav-admin user">
      <%= t('.welcome') %>, <b class="nav-admin user-email"><%= current_user.email %></b> Guru |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    </div>
    <div class="nav-admin langr <%= " active" if I18n.locale == :ru %>">
     <%= link_to 'Ğ ÑƒÑ', { lang: :ru } %>
    </div>
    <div class="nav-admin lang<%= " active" if I18n.locale == :en %>">
     <%= link_to 'Eng ', { lang: :en } %>
    </div>
  </div>
<% end %>
