<%= render 'shared/sidebar' %>

<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="col justify-content-center table-container">
  <h1 class="text-center mt-3 mb-4">
    <span class="admin-tests-text"><%= t('.gist_list') %></span>
  </h1>
    <table class="table" style="min-width: 980px">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="text-center" style="width: 4%;">#</th>
          <th scope="col" class="text-center" style="width: 16%;"><%= t('.gist_user') %></th>
          <th scope="col" class="ml-3" style="width: 25%;"><%= t('.gist_question') %></th>
          <th scope="col" class="text-center" style="width: 40%;"><%= t('.gist_link') %></th>
          <th scope="col" class="text-center" style="width: 15%;"><span class="neon"><%= t('.gist_action') %></span></th>
        </tr>
      </thead>
      <tbody>

        <%= render @gists %>

      </tbody>
    </table>

 <div class="row justify-content-center">

    <button type="button" class="col-md-3 btn btn-neu-card mt-2 mb-3" id="hover-red">
      <%= link_to t('badges.index.go_back'), root_path %>
    </button>

  </div>
</div>
