<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% if current_user.admin? %>
      <title>Admin panel | Test Guru</title>
    <% else %>
      <title>Test Guru</title>
    <% end %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title_center">
          <span><%= t('.title') %></span>
        </div>
      </div>
      <div class="element right">
        <div class="element-header">
          <span><%= t('.description') %>:</span>
        </div>
        <div class="element-body">
          <p>
            <%= t('.goal') %> <br><br>
            <%= t('.perfomed') %> <a target="_blank" class="socnet-link" href="http://www.thinknetica.com/">Thinkmetica</a>)<br>
          </p>
        </div>
      </div>
      <div class="element left">
        <div class="element-header">
          <span><%= t('.benefits') %></span>
        </div>
        <div class="element-body">
          <ul>
            <li><%= t('.flex') %></li>
            <li><%= t('.level') %></li>
            <li><%= t('.auto') %></li>
            <li><%= t('.group') %></li>
          </ul>
        </div>
        <div class="footer"></div>
      </div>
      <div>
        <% if user_signed_in? %>
          <p style="text-align: center", class="app-welcome-text"> 
            <% if current_user.admin? %>
              <%= link_to t('.view'), admin_tests_path %> |
              <%= link_to t('.create'), new_admin_test_path %>
            <% else %>
              <%= link_to t('.choose'), tests_path %>
            <% end %>
          </p>
        <% else %>
          <p style="text-align: center", class="app-welcome-title"> Чтобы начать тестирование</p>
          <p style="text-align: center", class="app-welcome-text">
            <%= link_to 'зарегистрируйтесь', new_user_registration_path unless current_page?(new_user_registration_path) %> или
            <%= link_to 'войдите', new_user_session_path unless current_page?(new_user_session_path) %> в свой аккаунт.
          </p>
        <% end %>
      </div>
    </div>
  </body>
</html>
