<%= render 'shared/sidebar' %>

<div id="pages-container" class="container">

  <div id="pages" class="row">

    <div id="bg" class="light">
      <div id="clock" style="background-image: url(https://boldman.vn/wwwroot/templates/website/global/img/clock.png);">
        <div class="hour">
          <div class="hr" id="hr"></div>
        </div>
        <div class="min">
          <div class="mn" id="mn"></div>
        </div>
        <div class="sec">
          <div class="sc" id="sc"></div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="card-index">
        <h1 class="neu-h1-title"><%= t('.upgrade') %></h1>
      </div>
      <div class="box-overlay">
          <span><strong><%= t('.title') %></strong></span>
          <p><%= t('.goal') %></p>
          <ul><strong><%= t('.benefits') %></strong>
            <li><%= t('.flex')%></li>
            <li><%= t('.level')%></li>
            <li><%= t('.auto')%></li>
            <li><%= t('.group')%></li>
          </ul>
        </div>
      </div>

  <% if user_signed_in? %>
    <% if current_user.admin? %>

      <div class="menu-icon" id="menu-icon-tl" >
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="d-flex justify-content-center">

        <button type="button" class='op-80' id="btn-admin-pages">
          <%= link_to t('.gist'), admin_gists_path %>
        </button>
        <button type="button" class='op-80' id="btn-admin-pages">
          <%= link_to t('.view'), admin_tests_path %>
        </button>
        <button type="button" class='op-80' id="btn-admin-pages">
          <%= link_to t('.create'), new_admin_test_path %>
        </button>
        <button type="button" class='op-80' id="btn-admin-pages">
          <%= link_to t('.start_test'), tests_path %>
        </button>

      </div>

      <% else %>

        <div id="link-pages" class="d-flex justify-content-center">
          <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class='op-80' id="btn-pages">
            <%= link_to tests_path do %>
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
