<tr class="tr">
  <td class="align-middle cell"><%= answer.body %></td>
  <td class="align-middle text-center cell">
    <% if answer.correct %>
      <span class="text-success"> <%= answer.correct %> </span>
    <% else %>
      <span class="text-danger"> <%= answer.correct %> </span>
    <% end %>
  </td>
  <td class="align-middle text-center cell">
    <%= link_to admin_answer_path(answer), id: 'view-button-tv' do %>
        <i class="fa fa-table" aria-hidden="true"><%= t('.show') %></i>
      <% end %>
  </td>
  <td class="align-middle text-center cell">
    <%= link_to edit_admin_answer_path(answer), id: 'edit-button-tv' do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"><%= t('.edit') %></i>
      <% end %>
  </td>
  <td class="align-middle text-center cell">
      <%= link_to admin_answer_path(answer),method: :delete, data: { confirm: 'Are you sure?'}, id: 'delete-button-tv' do %>
        <i class="fa fa-trash-o" aria-hidden="true"><%= t('.delete') %></i>
      <% end %>
  </td>
</tr>
