<%= render 'shared/sidebar' %>

<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>


<div class="wrapper-card">
  <div class="card border-secondary mt-3" id="tests-card">
    <div class="tests-card-header text-center text-uppercase font-weight-bold">
      <%= t('.create_new') %>
    </div>
    <div class="card-body text-secondary ml-3 mt-2">
      <strong><%= t('admin.tests.show.question') %>:</strong>
      <%= @question.body %>:
    </div>

    <div class="card-text" id="answer-card">
      <%= render 'form' %>
    </div>
  </div>
</div>
