<h1><%= t('.question') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<%= link_to t('.edit'), edit_admin_answer_path(@answer) %>
<p>
  <b><%= t('.answer') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %>:</b>
  <%= @answer.correct %>
</p>


<%= render 'back_button' %>
