<tr class="tr">
  <td class="align-middle cell"><%= question.body %></td>
  <td class="align-middle text-center cell"><%= question.answers.count %></td>
  <td class="align-middle text-center cell">
    <%= link_to edit_admin_question_path(question), id: 'edit-button-tv' do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"><%= t('.edit') %></i>
    <% end %>
  </td>

  <td class="align-middle text-center cell">
    <%= link_to admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?'}, id: 'delete-button-tv' do %>
      <i class="fa fa-trash-o" aria-hidden="true"><%= t('.delete') %></i>
    <% end %>
  </td>

  <td class="align-middle text-center cell">
    <%= link_to admin_question_path(question), id: 'view-button-tv' do %>
      <i class="fa fa-table" aria-hidden="true"><%= t('.show_answers') %></i>
    <% end %>
  </td>
</tr>
