<tr>
  <td><%= link_to question.body, admin_question_path(question) %></td>
  <td style="text-align: center"><%= question.answers.count %></td>
  <td><%= link_to 'Изменить', edit_admin_question_path(question) %> |</td>
  <td><%= link_to 'Удалить', admin_question_path(question),
    method: :delete, data: { confirm: 'Are you sure?'} %> |</td>
  <td><%= link_to 'Показать ответы', admin_question_path(question) %></td>
</tr>
