<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <div class="container">
      <h1 class="row justify-content-center mt-5"><%= t('.title') %>: <%= @question.test.title %></h1>
        <div class="ml-5 mt-4 font-weight-bold"><%= t('.question') %>: <%= @question.body %></div>
        <table class="table mt-4">
          <thead class="table-dark">
            <tr>
              <th><%= t('.answer') %></th>
              <th><%= t('.correctly') %></th>
              <th colspan="3" style="text-align: center"><%= t('.action') %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @question.answers %>
          </tbody>
        </table>
      <button type="button" class="btn btn-light mb-3">
        <%= link_to t('.back'), admin_test_path(@question.test), style: "text-decoration: none; color: #6c757d;" %></button>
      <button type="button" class="btn btn-light mb-3">
        <%= link_to t('.new_answer'), new_admin_question_answer_path(@question), style: "text-decoration: none; color: #6c757d;" %></button>
    </div>
  </div>
</div>
