<%= render 'shared/sidebar' %>


<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="login-div" id="session-login-div" >
  <div class="logo">
    <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
  </div>
  <div class="title"><%= t('.title') %></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="fields">
        <div class="username">
          <i class="fa fa-envelope" id="session-login-icon" aria-hidden="true"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "session-login-input", class: 'input-fields', placeholder: "User email" %>
        </div>

        <div class="password">
          <i class="fa fa-lock" id="session-passowrd-icon" aria-hidden="true"></i>
          <%= f.password_field :password, autocomplete: "current-password", id: "session-password-input", class: 'input-fields', placeholder: "User password" %>
        </div>

        <div class="row">
          <% if devise_mapping.rememberable? %>
            <div class="form-group form-check mt-3">
              <%= f.check_box :remember_me %>
              <%= f.label t('.remember_me'), class: 'form-check-label' %>
          <% end %>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to t('.forgot'), new_password_path(resource_name), class: 'form-check-label', style: "color: #3488db; padding: 0 0 0 28px;" %><br />
          <% end %>
          </div>
        </div>

        <button class="signup-button mt-4" type="submit">
          <span class="signin-button-text"><%= t('.submit') %></span>
        </button>
      </div>
    <% end %>

  <div class="form-group form-check text-center mt-2">
    <span> <%= t('.not_regist') %></span>
    <span><%= link_to t('.promt_registered'), new_registration_path(resource_name), class: 'form-check-label', style: "color: #3488db;"  %></span>
  </div>

</div>

