<tr class="tr">
  <td class="align-middle cell">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle text-center cell"><%= test_level(test) %></td>
  <td class="align-middle text-center cell"><%= test.category.title %>
  <td class="align-middle text-center cell"><%= test.author.login %></td>
  <td class="align-middle text-center cell"><%= test.questions.count %></td>
  <td class="cell">
    <%= link_to t('.show'), admin_test_path(test),
                id: 'view-button-tp',
                class: '' %>
  </td>
  <td class="cell">
    <%= link_to t('.edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id, edit_label: t('forms.edit'), cancel_label: t('forms.cancel') },
                id: 'edit-button-tp',
                class: 'form-inline-link' %>
  </td>
  <td class="cell">
    <%= link_to t('.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.confirm') },
                id: 'delete-button-tp',
                class: '' %>
  </td>
</tr>
