<%= render 'shared/sidebar' %>

<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="col justify-content-center table-container">

  <h1 class="text-center mt-3 mb-4" >
    <span class="admin-tests-text"><%= t('.header') %></span>
  </h1>
  <%= render 'shared/errors', resource: @test %>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide', style: 'height: 16px !important' %>
          <%= octicon 'arrow-down', class: 'text-success hide', style: 'height: 16px !important'%>
        </th>
        <th scope="col" class="text-center cell"><%= t('.level') %></th>
        <th scope="col" class="text-center cell"><%= t('.category') %></th>
        <th scope="col" class="text-center cell"><%= t('.author') %></th>
        <th scope="col" class="text-center cell"><%= t('.questions') %></th>
        <th scope="col" class="text-center cell"><%= t('.timer') %></th>
        <th colspan="4" class="text-center cell"><span class="neon"><%= t('.action') %></span></th>
      </tr>
    </thead>
    <tbody>
      
      <%= render @tests %>

    </tbody>
  </table>

   <div class="row justify-content-center">
    <button type="button" class="col-md-3 btn btn-neu-card mt-1 mb-3" id="hover-red">
      <%= link_to t('badges.index.go_back'), root_path %>
    </button>

    <button type="button" class="col-md-3 btn btn-neu-card mt-1 mb-3">
      <%= link_to t('.new_test'), new_admin_test_path %>
    </button>
  </div>

</div>
