<h1 class="text-center mt-3 mb-4" ><%= t('.header') %></h1>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide'%>
        </th>
        <th scope="col"><%= t('.level') %></th>
        <th scope="col"><%= t('.category') %></th>
        <th scope="col"><%= t('.author') %></th>
        <th scope="col" class="text-center"><%= t('.questions') %></th>
        <th colspan="4" class="text-center"><%= t('.action') %></th>
      </tr>
    </thead>
    <tbody>
      
      <%= render @tests %>

    </tbody>
  </table>

  <div class="btn btn-group mt-3">
    <button type="button" class="btn btn-warning mr-1">
      <%= link_to t('.create'), new_admin_test_path, style: "text-decoration: none; color: #6c757d;" %>
    </button>

    <button type="button" class="btn btn-info">
      <%= link_to t('.gist'), admin_gists_path, style: "text-decoration: none; color: #fff;" %>
    </button>
  </div>
