<%= render 'shared/sidebar' %>

<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="col justify-content-center table-container-card">

  <h1 class="row justify-content-center">
    <span class="user-tests-text text-center mt-3"><%= t('.title') %>: <%= @test.title %></span>
  </h1>
  <div class="ml-5"><strong class="text-uppercase"><%= t('admin.tests.index.level') %>: </strong>
    <span class="text-capitalize"><%= test_level(@test) %></span>
  </div>
  <div class="ml-5"><strong class="text-uppercase"><%= t('admin.tests.index.category') %>: </strong>
    <span class="text-capitalize"><%= @test.category.title %></span>
  </div>
  <div class="ml-5"><strong class="text-uppercase"><%= t('admin.tests.index.author') %>: </strong>
    <span class="text-capitalize"><%= @test.author.login %> </span>
  </div>

  <table class="table mt-4">
    <thead class="table-dark">
      <tr class="tr">
        <th class="cell"><%= t('.question') %></th>
        <th class="cell" style="text-align: center"><%= t('.answers') %></th>
        <th colspan="3" class="cell" style="text-align: center"><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @test.questions %>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <button type="button" class="col-md-3 btn btn-neu-card mt-4 mb-3" id="hover-red" >
      <%= link_to t('test_passages.result.back'), admin_tests_path %>
    </button>
    <button type="button" class="col-md-3 btn btn-neu-card mt-4 mb-3" >
      <%= link_to t('.edit_test'), edit_admin_test_path(@test) %>
    </button>
    <button type="button" class="col-md-3 btn btn-neu-card mt-4 mb-3">
      <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
    </button>
  </div>

</div>



