<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td style="text-align: left"><%= test_level(test) %></td>
  <td><%= test.category.title %>
  <td><%= test.author.login %></td>
  <td style="text-align: center"><%= test.questions.count %></td>
  <td><%= button_to 'Старт', start_test_path(test) %></td>
</tr>
