<tr class="tr">
  <td class="cell"><%= test.title %></td>
  <td class="cell" style="text-align: left"><%= test_level(test) %></td>
  <td class="cell"><%= test.category.title %>
  <td class="cell" style="text-align: center"><%= test.questions.count %></td>
  <td class="cell" style="text-align: center">
    <% if test.questions.any? %>
      <%= button_to t('.start'), start_test_path(test), class: "btn ml-1", id: "start-button-tp" %>
    <% else %>
      <button class="btn ml-1", id="start-button-tp">
        <%= t('.empty') %>
      </button>
    <% end %>
  </td>
</tr>
