<%= render 'shared/sidebar' %>


<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="col justify-content-center table-container">
  <h1 class="text-center mt-3 mb-4">
    <span class="user-tests-text"><%= t('.header') %></span>
  </h1>
    <table class="table">
      <thead class="table-dark">
        <tr class="tr">
          <th scope="col" class="cell"><%= t('.title') %></th>
          <th scope="col" class="cell"><%= t('.level') %></th>
          <th scope="col" class="cell"><%= t('.category') %></th>
          <th scope="col" class="cell" style="text-align: center"><%= t('.questions') %></th>
          <th scope="col" class="cell" style="text-align: center"><span class="neon"><%= t('.actions') %></span></th>
        </tr>
      </thead>
      <tbody class="table-body">
        <%= render @tests %>
      </tbody>
    </table>
</div>

