<h1>Test: <%= @test.title %></h1>

<%= render 'shared/notice' %>

<p><strong>Title: </strong><%= @test.title %></p>
<p><strong>Level: </strong><%= test_level(@test) %></p>
<p><strong>Category: </strong><%= @test.category.title %></p>
<p>
<%= link_to 'Новый вопрос >', new_test_question_path(@test) %>
</p>
<table>
  <tr>
    <th>Содежание вопроса</th>
    <th>Ответов</th>
    <th colspan="3">Действия</th>
  </tr>

   <%= render @test.questions %>

</table>
<br>
<%= render 'back_button' %> 
<br>




